body {
  overflow-x: scroll;
  white-space: nowrap;
  margin: 0;
  background-image: url(http://wallpapercave.com/wp/JJRcAPO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  font-family: "Brush Script Std", "Brush Script MT", cursive;
  margin:0;
}

h3 {
  margin: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
  font-size: .8em;
  text-decoration: underline;
}

#tdiv {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
}

#bdiv {
  margin-left: 10px;
}

heading {
  height: 40px;
  text-align:center;
  margin: 0;
  position: fixed;
  width: 100%;
}

button {
  padding: 5px 10px;
  margin-right: 10px;
  border: 0;
  border-radius: 3px;
}

#tdiv button {
  background-color: rgba(255, 255, 255, 0.3);
}

#tdiv button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#bdiv button {
  margin-top: 2px;
  background-color: rgba(0, 0, 0, 0);
}

#bdiv button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.top{
  display: inline-block;
}

.bottom {
  display: inline-block;
}

section div {
  position: fixed;
  padding-top: 45px;
}

#lol {
  margin:0;
  padding-top: 80px;
  padding-left: 10px;
  clear: both;
}

#lol li {
  vertical-align: top;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75%;
  width: 250px;
  display: inline-block;
  background: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  font-family: arial;
  font-size: .8em;
}

p {
  margin: 0;
}

#lol #final {
  background-color: rgba(0, 0, 0, 0.05);
}

#lol li:first-child {
  margin-left: 10px;
}

#lol ul {
  width: auto;
  height: auto;
  padding: 0;
  white-space: normal;
}

#lol ul li {
  margin-top: 5px;
  margin-left: 0;
  white-space: normal;
  width: 230px;
  background-color: white;
  padding: 5px;
}

#lol ul li p {
  margin: 0;
  font-size: 12px;
  color: black;
}

#lol ul li:first-child {
  margin-left: 0;
}

#lol p:last-child {
  margin-top: 10px;
  color: grey;
}

.invisible {
  padding-top: 500px;
}

.card {
  margin-left:30%;
  width: 40%;
  height: auto;
  background-color: #EDEFF0;
  color: grey;
  font-family: sans-serif;
  padding:20px;
  border-radius: 5px;
}

.card span {
  text-decoration: underline;
}

.card p {
  font-size: 12px;
}

.card ul {
  padding: 0;
  margin: 0;
}

.card ul li {
  margin-right: 10px;
  display: inline-block;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.labels {
  margin-top: 10px;
}

.list button {
  font-size: 20px;
  height: 25px;
}

.list .random {
  background-color: hotpink;
  color:white;
  font-size: 20px;
}

.list .add {
  color:darkgrey;
  font-size: 14px;
}

.description {
  padding-top: 10px;
}

.desc {
  color:black;
}

.comments {
  margin-top: 15px;
}

.comments textarea {
  width: 90%;
  height: 50px;
  font-family: sans-serif;
}

.comments form .button {
  margin-top: 5px;
  border: 0;
  padding: 10px 15px;
  color: #555555;
}

.card .outer {
  display: inline-block;
}

.card .outer li {
  display: block;
}

.outer:first-child {
  width: 80%;
}

.outer:last-child {
  width: 20%;
}

.card .outer .list li{
  display: inline-block;
}

.outer button {
  font-weight: bold;
  margin-top: 5px;
  background-color: white;
  color:grey;
}

.outer button:hover {
  background-color: #298FCA;
  color:white;
}

.board-list {
  float:left;
  background-color: lightgrey;
  padding:0;
  list-style: none;
}
