body {
  margin: 0;
}

heading {
  text-align: center;
  margin: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(11, 128, 197, 0.9);
  opacity: 50%;
}

h1 {
  padding: 15px;
  color: #FDFEFE;
  margin: 0;
  font-family: "Brush Script Std", "Brush Script MT", cursive;
}

h2 {
  text-align: center;
  font-family: georgia, serif;
}

form {
  margin-left: 30%;
  margin-right: 30%;
  padding: 0 0 20px 0;
  text-align: center;
  font-family: Georgia, serif;
}

form p {
  font-size:1.2em;
  text-align:left;
  padding: 0;
}

form .button {
  font-size: 1em;
  width: 20%;
  height: 5%;
  margin: 10px;
}

input {
  width: 70%;
  font-size: 1.5em;
  padding:5px;
  background-color: #EDEFF0;
}

input[type="checkbox"] {
  float:left;
}

form input .button {
  padding: 100px;
  margin: 10px;
}

.register {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #58A842;
}

#cb {
  display: inline-block;
  width: 500px;
  padding:10px;
}

.login form #cb p {
  font-size: 1em;
  clear:both;
}

.login {
  padding: 50px;
  background-color:#0B80C5;
}
