<%- include("header"); %>

  <heading>
    <h2 class="top">Prello</h2>
    <button type="button" class="top">Add Board</button>
  </heading>

  <section>
    <h3>Personal Boards</h3>
    <div class="board">
      <p>Welcome Board</p>
    </div>
    <div class="board">
      <p>Prello</p>
    </div>
    <div class="board">
      <p>Cat Fostering</p>
    </div>
  </section>

<%- include("footer"); %>
