<%- include("header"); %>

  <heading>
    <h2 class="top">Prello</h2>
    <button id="add-board" type="button" class="top">Add Board</button>
    <button id="logout" type="button" class="top">Logout</button>
    <form id="add-board-menu">
      <input type=text placeholder=name id=board-name name="name" required /><br>
      <input class=button type=submit id=add-board-submit value=Add />
    </form>
  </heading>

  <section>
    <h3>Personal Boards</h3>
    
  </section>

<%- include("footer"); %>
