<%- include("header"); %>
<header>
  <h1>Prello</h1>
</header>

<div>
  <form method=POST action='/forgot_password' id=form>
    <p>Email</p>
    <input type=email name=email placeholder="cats@gmail.com" id=email required/><br>
    <input type=submit class=button value=Submit class=button/>
  </form>
</div>

<%- include("footer"); %>
