<%- include("header"); %>

<header>
  <h1>Prello</h1>
</header>

<section>
  <div>
    <p>Sorry to hear that you have forgotten your password. Click the link below to reset it.</p>
    <a href="<%- hash %>">Reset Password</a>
  </div>
</section>

<%- include("footer"); %>
