<%- include("header"); %>

<header>
  <h1>Prello</h1>
</header>

<div>
  <form method="POST" action='/forgot_password' id=reset>
    <p>New Password</p>
    <input type=password id=password name=password require />
    <p>Confirm New Password</p>
    <input type=password id=conf-password name=conf-password require /><br>
    <input type=submit class=button value=Reset />
  </form>
</div>

<%- include("footer"); %>
